@import '../../../../../styles/var.less';

.workspaceLeft {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-bg-subtle);
  box-sizing: border-box;
  min-width: 200px;
}

.noConnectionList {
  height: 100%;
  margin-top: 30vh;
  text-align: center;
  font-size: 14px;
  .noConnectionListIcon {
    font-size: 60px;
    color: var(--color-primary);
  }
  .noConnectionListTips {
    margin: 10px 0px;
  }
  .create {
    color: var(--color-primary);
    text-decoration: underline;
    cursor: pointer;
    margin-right: 4px;
    &:hover {
      color: var(--color-primary-hover);
    }
  }
}

.createButtonBox {
  padding: 10px 0px 10px;
}

.divider {
  margin: 0px;
}
