@import '../../../../../styles/var.less';

.tabBox {
  height: 100%;
}

.ears {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  button{
    display: flex;
    align-items: center;
  }
}
