@import '../../styles/var.less';

.searchResult {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tabs {
  height: 100%;
}

.recordIcon {
  font-size: 16px;
  margin-right: 4px;
}

.statusIcon {
  margin-right: 6px;
  font-size: 12px;
}

.successIcon {
  color: var(--color-primary);
}

.failIcon {
  color: var(--color-primary);
}

.tableIndex {
  width: 50px;
}

.monacoEditor {
  height: 300px;
}

.monacoEditor {
  margin: -15px;
}

.cursorStateIndicator {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noData {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  overflow: hidden;
}

.outputPrefixIcon {
  margin-right: 4px;
}

.stateIndicator {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.updateCountBox {
  height: 100%;
}

.successResult {
  height: 100%;
  .successResultContent {
    height: 100%;
  }

  .updateCount {
    height: calc(100% - 26px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tableLoading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: var(--color-fill);
  .stopExecuteSql {
    cursor: pointer;
    margin-top: 30px;
    &:hover {
      color: var(--color-primary);
    }
  }
}
