<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.chat2db.server.domain.repository.mapper.DataSourceAccessCustomMapper">
    <select id="comprehensivePageQuery" resultType="ai.chat2db.server.domain.repository.entity.DataSourceAccessDO">
        select dsa.*
        from DATA_SOURCE_ACCESS dsa
        <if test="userOrTeamSearchKey != '' and userOrTeamSearchKey != null ">
            left join TEAM t on t.id =dsa.ACCESS_OBJECT_ID and dsa.ACCESS_OBJECT_TYPE = 'TEAM'
            left join DBHUB_USER du on du.ID=dsa.ACCESS_OBJECT_ID and dsa.ACCESS_OBJECT_TYPE = 'USER'
        </if>
        <if test="dataSourceSearchKey != '' and dataSourceSearchKey != null ">
            left join DATA_SOURCE ds on ds.id =dsa.DATA_SOURCE_ID
        </if>
        <where>
            <if test="dataSourceId != null ">
                and dsa.DATA_SOURCE_ID = #{dataSourceId}
            </if>
            <if test="accessObjectId != null ">
                and dsa.ACCESS_OBJECT_ID = #{accessObjectId}
            </if>
            <if test="accessObjectType != null ">
                and dsa.ACCESS_OBJECT_TYPE = #{accessObjectType}
            </if>
            <if test="userOrTeamSearchKey != '' and userOrTeamSearchKey != null ">
                and (t.CODE like concat('%',#{userOrTeamSearchKey},'%') or t.NAME like
                concat('%',#{userOrTeamSearchKey},'%') or
                du.USER_NAME like concat('%',#{userOrTeamSearchKey},'%') or du.NICK_NAME like
                concat('%',#{userOrTeamSearchKey},'%') or
                du.EMAIL like concat('%',#{userOrTeamSearchKey},'%'))
            </if>
            <if test="dataSourceSearchKey != '' and dataSourceSearchKey != null ">
                and (ds.ALIAS like concat('%',#{dataSourceSearchKey},'%') or ds.URL like
                concat('%',#{dataSourceSearchKey},'%'))
            </if>
        </where>
    </select>

    <select id="checkTeamPermission" resultType="ai.chat2db.server.domain.repository.entity.DataSourceAccessDO">
        select dsa.*
        from DATA_SOURCE_ACCESS dsa
        left join TEAM t on t.id =dsa.ACCESS_OBJECT_ID and dsa.ACCESS_OBJECT_TYPE = 'TEAM' and t.status='VALID'
        left join TEAM_USER tu on tu.TEAM_ID =t.ID
        <where>
            dsa.DATA_SOURCE_ID = #{dataSourceId}
            and tu.USER_ID = #{userId}
            limit 1
        </where>
    </select>


</mapper>
