:root {
  :global {
    // There is some animation when switching the theme color causing a delay in switching background
    .ant-input,
    .ant-input-password {
      transition: all 0.2s, background-color 0s;
    }
    .ant-btn {
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s;
    }

    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s;
    }

    .ant-modal-header {
      border-bottom: 0px;
    }

    // .ant-modal-content {
    //   background-color: var(--color-bg-elevated) !important;

    //   .ant-modal-confirm-title {
    //     color: var(--color-text) !important;
    //   }

    //   .ant-modal-confirm-content {
    //     color: var(--color-text) !important;
    //   }
    // }

    .ant-modal-footer {
      border-top: 0px;
      padding: 8px;
      padding-top: 0px;
    }

    // .ant-notification-notice {
    //   background-color: var(--color-bg-elevated) !important;
    //   padding: 8px 8px 8px 16px !important;
    //   width: 280px !important;

    //   .ant-notification-notice-icon {
    //     font-size: 16px !important;
    //     top: 12px !important;
    //   }

    //   .ant-notification-notice-message {
    //     font-size: 14px !important;
    //     color: var(--color-text) !important;
    //   }

    //   .ant-notification-notice-close {
    //     font-size: 12px !important;
    //     color: var(--color-text) !important;
    //     width: 16px !important;
    //     height: 16px !important;
    //     top: 10px !important;
    //   }
    // }

    .ant-cascader-dropdown .ant-cascader-menu {
      height: auto;
      max-height: 80vh;
    }

    .ant-btn-link {
      color: var(--color-primary);
    }
    
    .ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover {
      color: var(--color-primary-hover);
    }
  }
}
