@import '../../../styles/var.less';

.tableBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  overflow: auto;
  :global {
    // .hGEOgo td {
    //   border-bottom: 0;
    //   // height: 400px !important;
    // }
    .hGEOgo {
      --header-bgcolor: #fafafa;
      --header-color: #000;
      th {
        font-weight: bold;
      }
      th.first {
        border-left: 0;
      }
      td.first {
        border-left: 0;
      }
      tr.first th {
        border-top: 0;
      }
    }

    .art-table-cell {
      position: relative;
    }
    .art-sticky-scroll.art-horizontal-scroll-container {
      position: sticky;
      bottom: 26px !important;
    }
  }
}

.toolBar {
  position: sticky;
  top: 0;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border-secondary);
  background-color: var(--color-bg-elevated);
  padding: 0 16px;
  height: 30px;
}
.toolBarItem {
  margin: 4px 0;
  padding-right: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  &:not(:last-child) {
    border-right: 1px solid var(--color-border);
  }
}

.table {
  flex: 1;
}

.statusBar {
  position: sticky;
  bottom: 0;
  z-index: 30;
  padding: 4px 8px;
  font-size: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-top: 1px solid var(--color-border-secondary);
  background-color: var(--color-bg-elevated);

  & > span {
    margin-right: 16px;
  }
}

.tableItem {
  width: 100%;
  height: 100%;
  // cursor: pointer;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  // height: 100%;
  max-height: 120px;
  overflow-y: auto;

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  &:hover .tableHoverBox {
    // display: flex !important;
    display: block;
  }
}

.tableHoverBox {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  display: none;
  align-items: center;
  // position: absolute;
  background-color: var(--color-bg-elevated);
  // top: 0;
  // right: 0;
  // bottom: 0;
  cursor: pointer;

  i {
    font-size: 15px;
    margin: 0px 2px;
  }

  i:hover {
    color: var(--custom-primary-color);
  }
}

.pagination {
  :global {
    .ant-pagination-prev,
    .ant-pagination-next,
    .ant-pagination-jump-prev,
    .ant-pagination-jump-next {
      min-width: 20px;
    }
    .ant-pagination-simple-pager {
      input {
        padding: 0px !important;
        font-size: 12px;
        height: 70% !important;
      }
    }
  }
}

.monacoEditor {
  height: 60vh;
}
