target/
rebel.xml
rebel-remote.xml
.gradle
.flattened-pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/

## 前端打包生成的代码 不用提交到github,
/chat2db-server-start/src/main/resources/static/front/
/chat2db-server-start/src/main/resources/thymeleaf/
