@import '../../var.less';

.form {
  :global {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .custom-form-item {
      > div > div:nth-of-type(1) {
        width: 70px;
        text-align: left;
      }
    }
  }
}

.extendInfoBox .form {
  :global {
    .custom-form-item {
      > div > div:nth-of-type(1) {
        width: 200px;
      }
    }
  }
}

.labelTextAlign {
  :global {
    .custom-form-item {
      > div > div:nth-of-type(1) {
        text-align: right;
      }
    }
  }
}

.formFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  .cancel {
    margin-right: 20px;
    .f-button();
  }

  .rightButton {
    display: flex;
  }

  .test,
  .save,
  .cancel {
    .f-button();
  }
}

.tabsBox {
  margin-bottom: 20px;
}

.baseInfoBox,
.sshBox,
.extendInfoBox {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.showFormBox {
  opacity: 1;
  height: auto;
  overflow: auto;
}

.testSSHConnect {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  i {
    margin-right: 10px;
    color: var(--custom-success-color);
  }
  .testSSHConnectText {
    font-size: 12px;
    color: var(--custom-primary-color);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.extendTable {
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: scroll;
  input {
    border: 0px;
  }
  :global {
    .custom-input[disabled],
    .custom-input-disabled {
      background-color: transparent;
    }
    .custom-table-tbody > tr.custom-table-row:hover > td {
      background-color: transparent;
    }
    .custom-input {
      padding: 0px;
    }
    .custom-input:focus {
      border: 0px;
      box-shadow: none;
    }
    thead .custom-table-cell {
      box-sizing: content-box;
      height: 28px;
    }
  }
}
