@import '../../styles/var.less';

.box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 0px 10px;
  box-sizing: border-box;
}

.saveButton {
  position: absolute;
  // left: 0px;
  right: 20px;
}

.tabList {
  display: flex;
  border-bottom: 0;
  font-size: 14px;
  border-radius: 6px;
  background-color: var(--color-bg-subtle);
}

.tabItem {
  position: relative;
  height: 28px;
  line-height: 28px;
  padding: 0px 30px;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    color: var(--color-primary);
  }
}

.currentTab {
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
}

.main {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.tab {
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.hidden {
  z-index: 1;
  opacity: 0;
}

.monacoEditor {
  height: 400px;
}
