<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/ico" sizes="32x32" href="../assets/logo/logo.png">
  <title>Chat2DB</title>
  <meta name="description"
    content="Chat2DB 是面向开发人员的免费多平台数据库工具。多种数据库一个工具。它用于查询、创建和管理数据库，数据库可以在本地、服务器或云端。支持 MySQL、PostgreSQL、Microsoft SQL Server、Oracle、H2等，未来我们会不断完善其他非关系型数据的支持，如Redis。">
  <meta name="keywords" content="数据库，chatgpt，chat，DB，database，后端，程序员，数据库">
  <meta property="og:title" content="Chat2DB" />
  <meta property="og:description"
    content="Chat2DB 是面向开发人员的免费多平台数据库工具。多种数据库一个工具。它用于查询、创建和管理数据库，数据库可以在本地、服务器或云端。支持 MySQL、PostgreSQL、Microsoft SQL Server、Oracle、H2等，未来我们会不断完善其他非关系型数据的支持，如Redis。" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <script src="./static/front/umi.js"></script>
</head>

<body>
  <div id="root"></div>
  <script>
    console.log('run startServer: window.myAPI', window.myAPI);
    if (window.myAPI) {
      window.myAPI.startServerForSpawn();
    }
  </script>
</body>

</html>