@import '../styles/global.less';
@import '../styles/var.less';

:global {
  #root {
    height: 100%;
  }
}

.app {
  min-height: 100%;
}

.appContainer {
  min-height: 100%;
  background-color: var(--color-bg-base);
}

.loadingBox {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github {
  font-size: 18px;
}

.restart {
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  &:hover {
    color: var(--color-primary);
  }
}

.hint {
  transform: translateY(120px);
}
