@import './theme/custom.css';
@import './theme/background/dark.less';
@import './theme/background/default.less';
@import './theme/primaryColor/polarBlue.less';
@import './theme/primaryColor/polarGreen.less';

body {
  ul,
  ol,
  li {
    padding-left: 0;
    list-style: none;
  }
  overflow: overlay; /*滚动条会覆盖在页面之上*/
}

div,
ul,
li {
  transition: border-color 0.3s, background 0.3s, padding 0.1s;
}
// cubic-bezier(0.215, 0.61, 0.355, 1)

:root {
  /* same as vs-dark theme's bg, not pure black. */
  --color-dark-bg: #1e1e1e;
  /* The Matrix green */
  --color-matrix-green: #00cc00;
  /* The matrix green lighter */
  --color-matrix-green-hover: #88ff88;
}

// 修改账号密码自动回填后input背景变色问题
input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-text) !important; // 填充状态下的字体颜色
  transition: background-color 0s 9999999999s;
  caret-color: var(--color-text); // 光标的颜色
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-300);
  border-radius: 3px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
