.chat_wrapper {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-border-secondary);
}

.chat_ai {
  width: 16px;
  height: 16px;
  margin-right: 14px;
}

.suffixBlock{

}

.remainBlock{
  border-radius: 16px;
  background-color: var(--color-bg-elevated);
  padding: 4px 12px;
}