@import '../../styles/var.less';

.appTitleBar {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0px 10px;
  .appName {
    flex: 1;
    text-align: center;
    font-weight: bold;
  }
}
