@font-face {
  font-family: "iconfont"; /* Project id 3633546 */
  src: url('iconfont.woff2?t=1685165802134') format('woff2'),
       url('iconfont.woff?t=1685165802134') format('woff'),
       url('iconfont.ttf?t=1685165802134') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dameng1:before {
  content: "\e655";
}

.icon-dameng:before {
  content: "\ea30";
}

.icon-proxy:before {
  content: "\e63f";
}

.icon-openai:before {
  content: "\e646";
}

.icon-guanyu:before {
  content: "\e60c";
}

.icon-yifu:before {
  content: "\e666";
}

.icon-shujuku4:before {
  content: "\e609";
}

.icon-shujuyuanpeizhi:before {
  content: "\e649";
}

.icon-jurassic_server:before {
  content: "\e6a6";
}

.icon-shujuku2:before {
  content: "\e607";
}

.icon-shujuku3:before {
  content: "\e625";
}

.icon-shujukushuju:before {
  content: "\e63c";
}

.icon-shujuku1:before {
  content: "\e636";
}

.icon-peizhishujuyuan:before {
  content: "\e62f";
}

.icon-SQLlishichaxun:before {
  content: "\e80a";
}

.icon-zhongmingming:before {
  content: "\e623";
}

.icon-ico_shujuchaxunyutongji_yuyueqingkuangchaxun:before {
  content: "\e8ff";
}

.icon-clickhouse-yunshujukuClickHouse:before {
  content: "\e8f4";
}

.icon-rds_mariadb:before {
  content: "\e6f5";
}

.icon-jianshaojianqujianhao:before {
  content: "\e62a";
}

.icon-sqlserver:before {
  content: "\e664";
}

.icon-sqlite:before {
  content: "\e65a";
}

.icon-queshengye_zanwushuju:before {
  content: "\e760";
}

.icon-weiwancheng:before {
  content: "\e755";
}

.icon-wancheng-:before {
  content: "\e62e";
}

.icon-chenggong1:before {
  content: "\e620";
}

.icon-jiqiren:before {
  content: "\e70e";
}

.icon-huanyihuan:before {
  content: "\e635";
}

.icon-icon_infomation:before {
  content: "\e65b";
}

.icon-key1:before {
  content: "\e775";
}

.icon-mysql:before {
  content: "\ec6d";
}

.icon-oracle:before {
  content: "\ec48";
}

.icon-postgresql:before {
  content: "\ec5d";
}

.icon-h2:before {
  content: "\e61c";
}

.icon-cc-schema:before {
  content: "\e696";
}

.icon-xinjianbiaoge:before {
  content: "\e6b6";
}

.icon-export:before {
  content: "\e613";
}

.icon-jiaoseguanli:before {
  content: "\e66d";
}

.icon-console:before {
  content: "\e619";
}

.icon-24gf-folderMinus:before {
  content: "\eac5";
}

.icon-chakan:before {
  content: "\e606";
}

.icon-fuzhi_o:before {
  content: "\eb4e";
}

.icon-zhihang:before {
  content: "\e626";
}

.icon-m-geshihuawenzi:before {
  content: "\e7f8";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-baocun2:before {
  content: "\e645";
}

.icon-jiantou_xiangzuoliangci_o:before {
  content: "\eb93";
}

.icon-xinjianchuangkou:before {
  content: "\e603";
}

.icon-loading2:before {
  content: "\e6cd";
}

.icon-lianjiekelong:before {
  content: "\e6ca";
}

.icon-SQLshengjiwenjian:before {
  content: "\e63b";
}

.icon-sql:before {
  content: "\e610";
}

.icon-lianjieliu:before {
  content: "\ec57";
}

.icon-tiaozhuan:before {
  content: "\e685";
}

.icon-key:before {
  content: "\e648";
}

.icon-bofangjilu:before {
  content: "\e8ad";
}

.icon-chenggong:before {
  content: "\e605";
}

.icon-shibai:before {
  content: "\e87c";
}

.icon-shouhuishangxia:before {
  content: "\e790";
}

.icon-zhankaishangxia:before {
  content: "\e7b1";
}

.icon-shujuku:before {
  content: "\e62c";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-chaxun:before {
  content: "\ec4c";
}

.icon-duigou11:before {
  content: "\e61f";
}

.icon-check1:before {
  content: "\e617";
}

.icon-gailan:before {
  content: "\e632";
}

.icon-huaban2:before {
  content: "\e63d";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-shuaxin1:before {
  content: "\ec08";
}

.icon-caidan:before {
  content: "\e611";
}

.icon-biaoge:before {
  content: "\e63e";
}

.icon-zhankai:before {
  content: "\e65f";
}

.icon-shouqi:before {
  content: "\e61e";
}

.icon-zhuti_o:before {
  content: "\eb6f";
}

.icon-duankailianjie:before {
  content: "\e65e";
}

.icon-xiugai:before {
  content: "\e60f";
}

.icon-delete:before {
  content: "\e604";
}

.icon-gengduo1:before {
  content: "\e601";
}

.icon-jianshao:before {
  content: "\e644";
}

.icon-jia:before {
  content: "\e61b";
}

.icon-hao:before {
  content: "\e631";
}

.icon-right:before {
  content: "\e608";
}

.icon-search1:before {
  content: "\e600";
}

.icon-download1:before {
  content: "\e66c";
}

.icon-xiangyoujiantou:before {
  content: "\e79c";
}

.icon-shanchuxianxing:before {
  content: "\e6a7";
}

.icon-cross-copy:before {
  content: "\ec8e";
}

.icon-shuaxin:before {
  content: "\e62d";
}

.icon-tixing:before {
  content: "\e913";
}

.icon-shezhixitongshezhigongnengshezhishuxing:before {
  content: "\e795";
}

.icon-zhihangsqljiaoben:before {
  content: "\e759";
}

.icon-xunishujukuguanli:before {
  content: "\e61a";
}

