@font-face {
  font-family: "iconfont"; /* Project id 3633546 */
  src: url('iconfont.woff2?t=1699180324907') format('woff2'),
       url('iconfont.woff?t=1699180324907') format('woff'),
       url('iconfont.ttf?t=1699180324907') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou1-copy:before {
  content: "\100be";
}

.icon-chakan2:before {
  content: "\e788";
}

.icon-clone:before {
  content: "\e8db";
}

.icon-tijiao:before {
  content: "\e687";
}

.icon-chakan1:before {
  content: "\e665";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-icon_answer:before {
  content: "\e686";
}

.icon-icon_question:before {
  content: "\e6a8";
}

.icon-fasong:before {
  content: "\100bd";
}

.icon-zhongqi:before {
  content: "\e662";
}

.icon-tixing2:before {
  content: "\e6cc";
}

.icon-tixing3:before {
  content: "\e661";
}

.icon-tixing1:before {
  content: "\e716";
}

.icon-shengji:before {
  content: "\e69c";
}

.icon-quanju_shengji:before {
  content: "\e659";
}

.icon-guanyuwomen1:before {
  content: "\e65c";
}

.icon-icobanbengengxin:before {
  content: "\e67d";
}

.icon-duihuaqipao:before {
  content: "\e657";
}

.icon-jiaosequanxian:before {
  content: "\e658";
}

.icon-preview1:before {
  content: "\e654";
}

.icon-daoru:before {
  content: "\e653";
}

.icon-zhongzhi:before {
  content: "\e652";
}

.icon-tuichu:before {
  content: "\e6b2";
}

.icon-kongzhuangzhongduan:before {
  content: "\e6bb";
}

.icon-chexiao1:before {
  content: "\e6e2";
}

.icon-xiangshang:before {
  content: "\e650";
}

.icon-chakan-copy:before {
  content: "\e651";
}

.icon-jurassic_edit-data:before {
  content: "\e6f2";
}

.icon-jurassic_edit-table:before {
  content: "\e6f3";
}

.icon-baobiaoshujuluru:before {
  content: "\e7b5";
}

.icon-bofang5:before {
  content: "\e656";
}

.icon-a-qingkong3x:before {
  content: "\e64f";
}

.icon-shanchu:before {
  content: "\e64e";
}

.icon-newdocumentworksheet:before {
  content: "\e792";
}

.icon-file-excel:before {
  content: "\e7b7";
}

.icon-file-markdown:before {
  content: "\e7b8";
}

.icon-file-word:before {
  content: "\e7ba";
}

.icon-HTML:before {
  content: "\e87d";
}

.icon-HTML1:before {
  content: "\e64d";
}

.icon-pdf:before {
  content: "\e67a";
}

.icon-gerenyonghu:before {
  content: "\e64c";
}

.icon-houtaiguanli:before {
  content: "\e64b";
}

.icon-zitidaima:before {
  content: "\ec83";
}

.icon-banben:before {
  content: "\e70c";
}

.icon-cheweiguanli:before {
  content: "\e73c";
}

.icon-dianzhelidaochu:before {
  content: "\e64a";
}

.icon-circle-f:before {
  content: "\e76a";
}

.icon-tubiao-hanshu:before {
  content: "\e6fd";
}

.icon-shituguanliqi:before {
  content: "\e647";
}

.icon-huiche:before {
  content: "\e643";
}

.icon-quesheng:before {
  content: "\e642";
}

.icon-jinrujiantou:before {
  content: "\e88e";
}

.icon-youjiantou_huaban:before {
  content: "\e641";
}

.icon-xiangyoujiantou1:before {
  content: "\e660";
}

.icon-shujuyuan:before {
  content: "\e640";
}

.icon-question:before {
  content: "\e67c";
}

.icon-xingxing:before {
  content: "\e63a";
}

.icon-kongzhitai:before {
  content: "\e69f";
}

.icon-xingxi:before {
  content: "\e639";
}

.icon-a-zanwushuju1:before {
  content: "\e638";
}

.icon-kaishi:before {
  content: "\e637";
}

.icon-guanbi:before {
  content: "\e634";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-gengduo:before {
  content: "\e633";
}

.icon-shezhi:before {
  content: "\e630";
}

.icon-duihua-weixuan:before {
  content: "\e628";
}

.icon-tubiao-weixuan:before {
  content: "\e629";
}

.icon-a-bianzu13beifen3:before {
  content: "\e62b";
}

.icon-bianzubeifen:before {
  content: "\e616";
}

.icon-biaoge1:before {
  content: "\e618";
}

.icon-a-shoucang1:before {
  content: "\e61d";
}

.icon-guthub-weixuan1:before {
  content: "\e621";
}

.icon-shuju-weixuan:before {
  content: "\e622";
}

.icon-a-bianzu4:before {
  content: "\e624";
}

.icon-a-bianzu14beifen:before {
  content: "\e627";
}

.icon-guthub-weixuan:before {
  content: "\e615";
}

.icon-24gl-folderMinus:before {
  content: "\eabe";
}

.icon-24gl-folderOpen:before {
  content: "\eabf";
}

.icon-24gf-folderOpen:before {
  content: "\eac7";
}

.icon-yunshujuku:before {
  content: "\e744";
}

.icon-baobiao:before {
  content: "\e612";
}

.icon-gongzuotai:before {
  content: "\e614";
}

.icon-mongodb:before {
  content: "\ec21";
}

.icon-Redis:before {
  content: "\e6a2";
}

.icon-HIVE:before {
  content: "\e60e";
}

.icon-Kingbase:before {
  content: "\e6a0";
}

.icon-yibiaopan:before {
  content: "\e60d";
}

.icon-presto_sql:before {
  content: "\e60b";
}

.icon-shujukuleixingtubiao-kuozhan-:before {
  content: "\e60a";
}

.icon-oceanbase:before {
  content: "\e982";
}

.icon-dameng1:before {
  content: "\e655";
}

.icon-proxy:before {
  content: "\e63f";
}

.icon-openai:before {
  content: "\e646";
}

.icon-guanyu:before {
  content: "\e60c";
}

.icon-yifu:before {
  content: "\e666";
}

.icon-shujuku4:before {
  content: "\e609";
}

.icon-shujuyuanpeizhi:before {
  content: "\e649";
}

.icon-jurassic_server:before {
  content: "\e6a6";
}

.icon-shujuku2:before {
  content: "\e607";
}

.icon-shujuku3:before {
  content: "\e625";
}

.icon-shujukushuju:before {
  content: "\e63c";
}

.icon-shujuku1:before {
  content: "\e636";
}

.icon-peizhishujuyuan:before {
  content: "\e62f";
}

.icon-SQLlishichaxun:before {
  content: "\e80a";
}

.icon-zhongmingming:before {
  content: "\e623";
}

.icon-ico_shujuchaxunyutongji_yuyueqingkuangchaxun:before {
  content: "\e8ff";
}

.icon-clickhouse-yunshujukuClickHouse:before {
  content: "\e8f4";
}

.icon-rds_mariadb:before {
  content: "\e6f5";
}

.icon-jianshaojianqujianhao:before {
  content: "\e62a";
}

.icon-sqlserver:before {
  content: "\e664";
}

.icon-sqlite:before {
  content: "\e65a";
}

.icon-queshengye_zanwushuju:before {
  content: "\e760";
}

.icon-weiwancheng:before {
  content: "\e755";
}

.icon-wancheng-:before {
  content: "\e62e";
}

.icon-chenggong1:before {
  content: "\e620";
}

.icon-jiqiren:before {
  content: "\e70e";
}

.icon-huanyihuan:before {
  content: "\e635";
}

.icon-icon_infomation:before {
  content: "\e65b";
}

.icon-key1:before {
  content: "\e775";
}

.icon-mysql:before {
  content: "\ec6d";
}

.icon-oracle:before {
  content: "\ec48";
}

.icon-postgresql:before {
  content: "\ec5d";
}

.icon-h2:before {
  content: "\e61c";
}

.icon-cc-schema:before {
  content: "\e696";
}

.icon-xinjianbiaoge:before {
  content: "\e6b6";
}

.icon-export:before {
  content: "\e613";
}

.icon-jiaoseguanli:before {
  content: "\e66d";
}

.icon-console:before {
  content: "\e619";
}

.icon-24gf-folderMinus:before {
  content: "\eac5";
}

.icon-chakan:before {
  content: "\e606";
}

.icon-fuzhi_o:before {
  content: "\eb4e";
}

.icon-zhihang:before {
  content: "\e626";
}

.icon-m-geshihuawenzi:before {
  content: "\e7f8";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-baocun2:before {
  content: "\e645";
}

.icon-jiantou_xiangzuoliangci_o:before {
  content: "\eb93";
}

.icon-xinjianchuangkou:before {
  content: "\e603";
}

.icon-loading2:before {
  content: "\e6cd";
}

.icon-lianjiekelong:before {
  content: "\e6ca";
}

.icon-SQLshengjiwenjian:before {
  content: "\e63b";
}

.icon-sql:before {
  content: "\e610";
}

.icon-lianjieliu:before {
  content: "\ec57";
}

.icon-tiaozhuan:before {
  content: "\e685";
}

.icon-key:before {
  content: "\e648";
}

.icon-bofangjilu:before {
  content: "\e8ad";
}

.icon-chenggong:before {
  content: "\e605";
}

.icon-shibai:before {
  content: "\e87c";
}

.icon-shouhuishangxia:before {
  content: "\e790";
}

.icon-zhankaishangxia:before {
  content: "\e7b1";
}

.icon-shujuku:before {
  content: "\e62c";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-chaxun:before {
  content: "\ec4c";
}

.icon-duigou11:before {
  content: "\e61f";
}

.icon-check1:before {
  content: "\e617";
}

.icon-gailan:before {
  content: "\e632";
}

.icon-huaban2:before {
  content: "\e63d";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-shuaxin1:before {
  content: "\ec08";
}

.icon-caidan:before {
  content: "\e611";
}

.icon-biaoge:before {
  content: "\e63e";
}

.icon-zhankai:before {
  content: "\e65f";
}

.icon-shouqi:before {
  content: "\e61e";
}

.icon-zhuti_o:before {
  content: "\eb6f";
}

.icon-duankailianjie:before {
  content: "\e65e";
}

.icon-xiugai:before {
  content: "\e60f";
}

.icon-delete:before {
  content: "\e604";
}

.icon-gengduo1:before {
  content: "\e601";
}

.icon-jianshao:before {
  content: "\e644";
}

.icon-jia:before {
  content: "\e61b";
}

.icon-hao:before {
  content: "\e631";
}

.icon-right:before {
  content: "\e608";
}

.icon-search1:before {
  content: "\e600";
}

.icon-download1:before {
  content: "\e66c";
}

.icon-xiangyoujiantou:before {
  content: "\e79c";
}

.icon-shanchuxianxing:before {
  content: "\e6a7";
}

.icon-cross-copy:before {
  content: "\ec8e";
}

.icon-shuaxin:before {
  content: "\e62d";
}

.icon-tixing:before {
  content: "\e913";
}

.icon-shezhixitongshezhigongnengshezhishuxing:before {
  content: "\e795";
}

.icon-zhihangsqljiaoben:before {
  content: "\e759";
}

.icon-xunishujukuguanli:before {
  content: "\e61a";
}

