name: Test

on: [ push, pull_request ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out Git repository
        uses: actions/checkout@main

      # 安装jre Windows
      - name: Install Jre for Windows
        uses: actions/setup-java@main
        with:
          java-version: "17"
          distribution: "temurin"
          java-package: "jre"

      # java.security 开放tls1 Linux
      - name: Enable tls1
        if: ${{ runner.os == 'Linux' }}
        run: |
          ls ${{ env.JAVA_HOME }}
          ls ${{ env.JAVA_HOME }}/conf/security
          cat ${{ env.JAVA_HOME }}/conf/security/java.security
          sed -i '' "s/\(^jdk.tls.disabledAlgorithms=\)\(.*\)\( TLSv1, TLSv1.1,\)\(.*\)/\1\2\4/" ${{ env.JAVA_HOME }}/conf/security/java.security